html{
	
	background-color: /* darkslate */ grey;

	font-size: 100%;
	line-height: 1.5em;
	font-family: sans-serif;

}

body{

	width: 70%;
	margin: 0 auto;
	height: 100%;

	background-color: white;
}

.menubar {
	margin: 0;
	background-color: greenyellow;
}

.menubar li{
	display: inline;
	padding-right: 1em;
}
